.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.5rem;
}

.filterButton {
  all: unset;
  display: block;
  margin: 0.5rem;
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.filterButton > * {
  margin-left: 0.25rem;
}

.filterButton {
  background-color: rgba(255 255 255 / 10%);
}

.filterButton.active,
.filterButton:hover,
.filterButton:active {
  background-color: rgba(255 255 255 / 30%);
}

.filterButton:focus {
  box-shadow: 0 0 0 0.0625rem rgba(255 255 255 / 50%);
}

.stats > .filterButton > .red {
  color: #ef5350;
}

.stats > .filterButton > .green {
  color: #8bc34a;
}
