.container {
  padding: 0 2rem;
  background-image: linear-gradient(
      128.96deg,
      rgb(56, 0, 129) 8.62%,
      rgba(56, 0, 129, 0.643) 17.82%,
      rgba(56, 0, 129, 0) 48.88%
    ),
    linear-gradient(
      360deg,
      rgb(27, 5, 41) 5.4%,
      rgba(22, 0, 49, 0.56) 45.95%,
      rgba(29, 1, 65, 0) 98.1%
    ),
    linear-gradient(rgb(35, 9, 54) 23.2%, rgb(65, 4, 79) 86.43%);
  height: 100vh;
  overflow: auto;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer a {
  color: var(--white);
  cursor: pointer;
}

.title {
  position: relative;
  margin: 0 0 4rem 0;
  line-height: 1.15;
  font-size: 4rem;
  color: var(--white);
  text-shadow: 0 0.25rem 0.5rem rgba(0 0 0 / 25%);
}

.title > small {
  color: rgba(255 255 255 / 56%);
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: -1rem;
}

.title,
.description {
  text-align: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.select {
  margin-bottom: 2rem;
}

.stats {
  margin-bottom: 2rem;
}

.switch > button {
  all: unset;
  display: block;
  margin: 0.5rem;
  margin-left: 1rem;
  color: var(--white);
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  padding: auto;
  cursor: pointer;
}

.switch > button > svg {
  padding-right: 4px;
}

.switchOrder > * {
  margin-left: 0.25rem;
}

.switchOrder {
  background-color: rgba(255 255 255 / 10%);
}

.switchOrder.active {
  background-color: rgba(255 255 255 / 30%);
}

@media (hover: hover) {
  .switchOrder:hover {
    background-color: rgba(255 255 255 / 30%);
  }
}

.switchOrder:focus {
  box-shadow: 0 0 0 0.0625rem rgba(255 255 255 / 50%);
}

.filterHeader {
  display: flex;
}
